{
  "check-coverage": false,
  "per-file": true,

  "reporter": [
    "html"
  ],
  "report-dir": "./docs/coverage",
  "cache": false,
  "exclude": [
    "**/?(*.)+(spec|test).[tj]s?(x)",
    "test/**/*.js"
  ],
  "skip-empty": true,
  "skip-full": true,
  "clean": true
}
